{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <center class='text-white'>
                            <!-- for all messages -->
                            {% if messages %}
                              {% for message in messages %}
                                <span class="alert {{ message.tags }} alert-dismissible shadow fade show col-lg-6" role="alert">
                                    {{ message|safe }}
                                </span>
                              {% endfor %}
                            {% endif %}
                        </center>
                        <h1 class="text-white font-weight-bold">University of Abuja <br/>Complaint System</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Education for National Unity</p>
                        <a class="btn btn-primary btn-xl" href="{% url 'main:lodge_complain' %}">Lodge a complain</a>
                    </div>
                </div>
            </div>
        </header>
<script>
setTimeout(() => {
    const alerts = document.querySelectorAll(".alert");
    alerts.forEach(alert => {
        alert.style.display = 'none';
    });
}, 5000);
</script>        
{% endblock %}
